version: "3.8"

services:
  agent-dev:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.dev
    container_name: certfix-agent-dev
    working_dir: /app
    volumes:
      - ../:/app
    tty: true
