name: Build and Release

on:
  push:
    tags:
      # - "v*"
      - "test*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Build
        run: |
          mkdir -p build
          GOOS=linux GOARCH=amd64 go build -o build/linux-agent ./cmd
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: build/linux-agent
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
